# Environment variables
.env

# Data volumes
minio/data/*
clickhouse/data/*

# Raw data
notebooks/archive/
notebooks/.ipynb_checkpoints/

# Spark
spark/logs/*
spark/work/*
spark/warehouse/*

# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
# IDEs
.vscode/
.idea/

*.log
*.jar
*.gpickle
*.json
*.msgpack
*.parquet
*.csv
*.zip